certifi==2017.11.5
chardet==3.0.4
click==8.0.1
colorama==0.4.4
dataclasses==0.8
Flask==2.0.1
Flask-FlatPages==0.8.1
Flask-PyMongo==0.5.1
Frozen-Flask==0.18
idna==2.6
imgaug==0.2.5
importlib-metadata==4.8.1
ipython==6.3.1
itsdangerous==2.0.1
Jinja2==3.0.1
lxml==4.1.1
Markdown==3.3.6
MarkupSafe==2.0.1
mask-rcnn==2.1
numpy==1.13.3
omdb==0.8.1
pymongo==3.6.0
PyYAML==6.0
requests==2.18.4
selenium==3.8.0
six==1.16.0
typing-extensions==3.10.0.2
urllib3==1.22
virtualenv==15.1.0
Werkzeug==2.0.1
zipp==3.5.0
