.development{
    color: blue;
}
.dataScience{
    color: green;
}
.travel{
    color: red;
}
.card_container {
justify-content: center;
align-items: center;
margin: 10vmin;
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
height: 70vmin;
}

.white_text{
    color: white;
    background-color: white;
}

.project_bg{
    background-color: #23181a;
}

.card_container:before, .card_container:after {
content: "";
display: inline-block;
width: 5rem;
}

.card_container .card {
height: 55vmin;
max-width: 20%;
padding: 0.1rem;
position: relative;
display:inline-block;
margin-right: -1rem;
}

.card_container .card .card_head {
display: flex;
flex-wrap: wrap;
color: white;
background: black;
margin: 0.1rem;
transition: all 0.5s ease-in-out;
min-width: 100%;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
font-size: 1rem;
}

.card_container .card:hover {
transform:scale(1.2);
transition:transform 1s;
transform-origin: top center;
z-index: 10;
}

.card_container .card:hover img {
filter: grayscale(0);
}

.card_container .card img {
width: 100%;
height: 100%;
transition: all 1s ease-in-out;
filter: grayscale(100%);
}

.card_labels {
display: flex;
flex-wrap: wrap;
position: absolute;
bottom: 0;
}

.card_label{
position: relative;
display: inline-flex;
margin: 2px;
text-transform: uppercase;
font-size: 11px;
color:#B19F9E;
border: 3px solid#1C3334;
border-radius: 2rem;
background: #19181A;
padding: 0.2rem 0.85rem 0.25rem;
}

::-webkit-scrollbar{
    width:12px;
    height:10px;
}
::-webkit-scrollbar-track{
    background:#030504;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #1C3334;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background:darkslategray;
}
